# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm

## Directory-based project format:
.idea/
# If you want to share run configurations with your team, uncomment this line:
!.idea/runConfigurations/

## File-based project format:
*.iws

## IntelliJ IDEA project files:
*.iml

## Output directories:
out/
build/
gen/

## CMake output (if using C++)
cmake-build-debug/
cmake-build-release/
